ws-client-publisher/WSClientPublisher/Service References/Business.Articles/EjbArticlesServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://articles.business.publisher.armandorv.com/" name="EjbArticlesServiceService" targetNamespace="http://articles.business.publisher.armandorv.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://articles.business.publisher.armandorv.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="deleteArticle" type="tns:deleteArticle" />
      <xs:element name="deleteArticleResponse" type="tns:deleteArticleResponse" />
      <xs:element name="getAllArticles" type="tns:getAllArticles" />
      <xs:element name="getAllArticlesOfAuthor" type="tns:getAllArticlesOfAuthor" />
      <xs:element name="getAllArticlesOfAuthorResponse" type="tns:getAllArticlesOfAuthorResponse" />
      <xs:element name="getAllArticlesResponse" type="tns:getAllArticlesResponse" />
      <xs:element name="getArticleByID" type="tns:getArticleByID" />
      <xs:element name="getArticleByIDResponse" type="tns:getArticleByIDResponse" />
      <xs:element name="modifyArticle" type="tns:modifyArticle" />
      <xs:element name="modifyArticleResponse" type="tns:modifyArticleResponse" />
      <xs:element name="publishArticle" type="tns:publishArticle" />
      <xs:element name="publishArticleResponse" type="tns:publishArticleResponse" />
      <xs:complexType name="publishArticle">
        <xs:sequence>
          <xs:element name="arg0" type="xs:long" />
          <xs:element minOccurs="0" name="arg1" type="tns:article" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="article">
        <xs:sequence>
          <xs:element minOccurs="0" name="author" type="xs:string" />
          <xs:element minOccurs="0" name="dateOfCreation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="fileName" type="xs:string" />
          <xs:element name="id" type="xs:long" />
          <xs:element minOccurs="0" name="subject" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="url" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="publishArticleResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="modifyArticle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:article" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modifyArticleResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="deleteArticle">
        <xs:sequence>
          <xs:element name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteArticleResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getArticleByID">
        <xs:sequence>
          <xs:element name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getArticleByIDResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:article" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllArticles">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getAllArticlesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:article" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllArticlesOfAuthor">
        <xs:sequence>
          <xs:element name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllArticlesOfAuthorResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:article" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="ArticlesService_getArticleByID">
    <part name="getArticleByID" element="tns:getArticleByID" />
  </message>
  <message name="ArticlesService_publishArticle">
    <part name="publishArticle" element="tns:publishArticle" />
  </message>
  <message name="ArticlesService_modifyArticleResponse">
    <part name="modifyArticleResponse" element="tns:modifyArticleResponse" />
  </message>
  <message name="ArticlesService_getAllArticlesOfAuthorResponse">
    <part name="getAllArticlesOfAuthorResponse" element="tns:getAllArticlesOfAuthorResponse" />
  </message>
  <message name="ArticlesService_deleteArticle">
    <part name="deleteArticle" element="tns:deleteArticle" />
  </message>
  <message name="ArticlesService_publishArticleResponse">
    <part name="publishArticleResponse" element="tns:publishArticleResponse" />
  </message>
  <message name="ArticlesService_getAllArticlesOfAuthor">
    <part name="getAllArticlesOfAuthor" element="tns:getAllArticlesOfAuthor" />
  </message>
  <message name="ArticlesService_getAllArticlesResponse">
    <part name="getAllArticlesResponse" element="tns:getAllArticlesResponse" />
  </message>
  <message name="ArticlesService_getAllArticles">
    <part name="getAllArticles" element="tns:getAllArticles" />
  </message>
  <message name="ArticlesService_deleteArticleResponse">
    <part name="deleteArticleResponse" element="tns:deleteArticleResponse" />
  </message>
  <message name="ArticlesService_modifyArticle">
    <part name="modifyArticle" element="tns:modifyArticle" />
  </message>
  <message name="ArticlesService_getArticleByIDResponse">
    <part name="getArticleByIDResponse" element="tns:getArticleByIDResponse" />
  </message>
  <portType name="ArticlesService">
    <operation name="deleteArticle" parameterOrder="deleteArticle">
      <input message="tns:ArticlesService_deleteArticle" />
      <output message="tns:ArticlesService_deleteArticleResponse" />
    </operation>
    <operation name="getAllArticles" parameterOrder="getAllArticles">
      <input message="tns:ArticlesService_getAllArticles" />
      <output message="tns:ArticlesService_getAllArticlesResponse" />
    </operation>
    <operation name="getAllArticlesOfAuthor" parameterOrder="getAllArticlesOfAuthor">
      <input message="tns:ArticlesService_getAllArticlesOfAuthor" />
      <output message="tns:ArticlesService_getAllArticlesOfAuthorResponse" />
    </operation>
    <operation name="getArticleByID" parameterOrder="getArticleByID">
      <input message="tns:ArticlesService_getArticleByID" />
      <output message="tns:ArticlesService_getArticleByIDResponse" />
    </operation>
    <operation name="modifyArticle" parameterOrder="modifyArticle">
      <input message="tns:ArticlesService_modifyArticle" />
      <output message="tns:ArticlesService_modifyArticleResponse" />
    </operation>
    <operation name="publishArticle" parameterOrder="publishArticle">
      <input message="tns:ArticlesService_publishArticle" />
      <output message="tns:ArticlesService_publishArticleResponse" />
    </operation>
  </portType>
  <binding name="ArticlesServiceBinding" type="tns:ArticlesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="deleteArticle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllArticles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllArticlesOfAuthor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getArticleByID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modifyArticle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="publishArticle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EjbArticlesServiceService">
    <port name="ArticlesServicePort" binding="tns:ArticlesServiceBinding">
      <soap:address location="http://127.0.0.1:8080/businesspublisher/EjbArticlesService" />
    </port>
  </service>
</definitions>