business-publisher/doc/EjbAuthorsService.wsdl.xml

<definitions name='EjbAuthorsServiceService' targetNamespace='http://authors.business.publisher.armandorv.com/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://authors.business.publisher.armandorv.com/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://authors.business.publisher.armandorv.com/' version='1.0' xmlns:tns='http://authors.business.publisher.armandorv.com/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='deleteAuthor' type='tns:deleteAuthor'/>
   <xs:element name='deleteAuthorResponse' type='tns:deleteAuthorResponse'/>
   <xs:element name='enrollAuthor' type='tns:enrollAuthor'/>
   <xs:element name='enrollAuthorResponse' type='tns:enrollAuthorResponse'/>
   <xs:element name='getAllAuthors' type='tns:getAllAuthors'/>
   <xs:element name='getAllAuthorsResponse' type='tns:getAllAuthorsResponse'/>
   <xs:element name='getAuthorByuserName' type='tns:getAuthorByuserName'/>
   <xs:element name='getAuthorByuserNameResponse' type='tns:getAuthorByuserNameResponse'/>
   <xs:element name='modifyAuthor' type='tns:modifyAuthor'/>
   <xs:element name='modifyAuthorResponse' type='tns:modifyAuthorResponse'/>
   <xs:complexType name='enrollAuthor'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='tns:user'/>
     <xs:element minOccurs='0' name='arg1' type='tns:author'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='user'>
    <xs:sequence>
     <xs:element minOccurs='0' name='author' type='tns:author'/>
     <xs:element minOccurs='0' name='password' type='xs:string'/>
     <xs:element minOccurs='0' name='userName' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='author'>
    <xs:sequence>
     <xs:element minOccurs='0' name='dateOfJoining' type='xs:dateTime'/>
     <xs:element name='id' type='xs:long'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
     <xs:element minOccurs='0' name='surname' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='enrollAuthorResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='deleteAuthor'>
    <xs:sequence>
     <xs:element name='arg0' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='deleteAuthorResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='modifyAuthor'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='tns:author'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='modifyAuthorResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='getAuthorByuserName'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getAuthorByuserNameResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:author'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getAllAuthors'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='getAllAuthorsResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='tns:author'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='AuthorsService_enrollAuthorResponse'>
  <part element='tns:enrollAuthorResponse' name='enrollAuthorResponse'></part>
 </message>
 <message name='AuthorsService_deleteAuthorResponse'>
  <part element='tns:deleteAuthorResponse' name='deleteAuthorResponse'></part>
 </message>
 <message name='AuthorsService_getAuthorByuserName'>
  <part element='tns:getAuthorByuserName' name='getAuthorByuserName'></part>
 </message>
 <message name='AuthorsService_getAllAuthors'>
  <part element='tns:getAllAuthors' name='getAllAuthors'></part>
 </message>
 <message name='AuthorsService_getAllAuthorsResponse'>
  <part element='tns:getAllAuthorsResponse' name='getAllAuthorsResponse'></part>
 </message>
 <message name='AuthorsService_modifyAuthor'>
  <part element='tns:modifyAuthor' name='modifyAuthor'></part>
 </message>
 <message name='AuthorsService_getAuthorByuserNameResponse'>
  <part element='tns:getAuthorByuserNameResponse' name='getAuthorByuserNameResponse'></part>
 </message>
 <message name='AuthorsService_deleteAuthor'>
  <part element='tns:deleteAuthor' name='deleteAuthor'></part>
 </message>
 <message name='AuthorsService_enrollAuthor'>
  <part element='tns:enrollAuthor' name='enrollAuthor'></part>
 </message>
 <message name='AuthorsService_modifyAuthorResponse'>
  <part element='tns:modifyAuthorResponse' name='modifyAuthorResponse'></part>
 </message>
 <portType name='AuthorsService'>
  <operation name='deleteAuthor' parameterOrder='deleteAuthor'>
   <input message='tns:AuthorsService_deleteAuthor'></input>
   <output message='tns:AuthorsService_deleteAuthorResponse'></output>
  </operation>
  <operation name='enrollAuthor' parameterOrder='enrollAuthor'>
   <input message='tns:AuthorsService_enrollAuthor'></input>
   <output message='tns:AuthorsService_enrollAuthorResponse'></output>
  </operation>
  <operation name='getAllAuthors' parameterOrder='getAllAuthors'>
   <input message='tns:AuthorsService_getAllAuthors'></input>
   <output message='tns:AuthorsService_getAllAuthorsResponse'></output>
  </operation>
  <operation name='getAuthorByuserName' parameterOrder='getAuthorByuserName'>
   <input message='tns:AuthorsService_getAuthorByuserName'></input>
   <output message='tns:AuthorsService_getAuthorByuserNameResponse'></output>
  </operation>
  <operation name='modifyAuthor' parameterOrder='modifyAuthor'>
   <input message='tns:AuthorsService_modifyAuthor'></input>
   <output message='tns:AuthorsService_modifyAuthorResponse'></output>
  </operation>
 </portType>
 <binding name='AuthorsServiceBinding' type='tns:AuthorsService'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='deleteAuthor'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='enrollAuthor'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='getAllAuthors'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='getAuthorByuserName'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='modifyAuthor'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='EjbAuthorsServiceService'>
  <port binding='tns:AuthorsServiceBinding' name='AuthorsServicePort'>
   <soap:address location='http://127.0.0.1:8080/businesspublisher/EjbAuthorsService'/>
  </port>
 </service>
</definitions>