business-publisher/doc/EjbSecurityService.wsdl.xml

<definitions name='EjbSecurityServiceService' targetNamespace='http://security.business.publisher.armandorv.com/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://security.business.publisher.armandorv.com/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://security.business.publisher.armandorv.com/' version='1.0' xmlns:tns='http://security.business.publisher.armandorv.com/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='getUserByUsername' type='tns:getUserByUsername'/>
   <xs:element name='getUserByUsernameResponse' type='tns:getUserByUsernameResponse'/>
   <xs:complexType name='getUserByUsername'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getUserByUsernameResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:user'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='user'>
    <xs:sequence>
     <xs:element minOccurs='0' name='author' type='tns:author'/>
     <xs:element minOccurs='0' name='password' type='xs:string'/>
     <xs:element minOccurs='0' name='userName' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='author'>
    <xs:sequence>
     <xs:element minOccurs='0' name='dateOfJoining' type='xs:dateTime'/>
     <xs:element name='id' type='xs:long'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
     <xs:element minOccurs='0' name='surname' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='SecurityService_getUserByUsername'>
  <part element='tns:getUserByUsername' name='getUserByUsername'></part>
 </message>
 <message name='SecurityService_getUserByUsernameResponse'>
  <part element='tns:getUserByUsernameResponse' name='getUserByUsernameResponse'></part>
 </message>
 <portType name='SecurityService'>
  <operation name='getUserByUsername' parameterOrder='getUserByUsername'>
   <input message='tns:SecurityService_getUserByUsername'></input>
   <output message='tns:SecurityService_getUserByUsernameResponse'></output>
  </operation>
 </portType>
 <binding name='SecurityServiceBinding' type='tns:SecurityService'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='getUserByUsername'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='EjbSecurityServiceService'>
  <port binding='tns:SecurityServiceBinding' name='SecurityServicePort'>
   <soap:address location='http://127.0.0.1:8080/businesspublisher/EjbSecurityService'/>
  </port>
 </service>
</definitions>